@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .search-form {
    @apply flex py-3
  }

  label {
    @apply text-sm text-gray-500    
  }

  input, textarea {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }

  select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }

  button, .btn {
    @apply inline-block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
  }

  .btn-wrapper {
    padding-top: 1.6rem;
  }

  table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
  }

  table > thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
  }

  table > thead > tr > th,
  table > tbody > tr > td
   {
    @apply px-6 py-3
  }

  table > tbody > tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700
  }

  .navbar {
    @apply bg-blue-700 py-4 px-16 flex justify-between items-center
  }

  .navbar-brand {
    @apply text-xl text-blue-200 font-bold
  }

  .navbar-nav {
    @apply text-blue-300 flex items-center
  }

  .navbar-nav a {
    @apply px-2 inline-block
  }

  .navbar-nav a.active {
    @apply text-white
  }

  .profile > img {
    width: 80vh;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
  }

}