@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .search-form {
    @apply flex py-3 gap-4
  }

  .btn-wrapper {
    padding-top: 1.6rem;
  }

  .error {
    @apply text-sm text-red-400
  }

  .navbar {
    @apply bg-cyan-700 py-4 px-16 flex justify-between items-center
  }

  .navbar-brand {
    @apply text-xl text-cyan-100 font-bold
  }

  .navbar-nav {
    @apply text-blue-300 flex items-center
  }

  .navbar-nav a {
    @apply px-2 inline-block
  }

  .navbar-nav a.active {
    @apply text-white
  }

  .profile > img {
    width: 80vh;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
  }

}